
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,form,fieldset,legend,input,button,select,textarea {margin:0; padding:0}
html {overflow-y:scroll; font-family:'Nanum Gothic','³ª´®°íµñ','¸¼Àº °íµñ','Malgun Gothic','µ¸¿ò','dotum'; text-align:center; color:#222; font-size:13px;}
body {position:relative;width:100%;}
fieldset,img,iframe {border:none;}
dl,ul,ol, li {list-style:none;}
address {font-style:normal;}
form,fieldset {display:inline;}
caption, legend { display:none;}
label {cursor:pointer;}
.blind {visibility:hidden; width:0; height:0; padding:0; overflow:hidden; line-height:0;}

* { box-sizing:border-box;}
*:hover { -moz-transition:0.2s; -webkit-transition:0.2s; transition:0.2s;}

img {max-width:100%}

a:link, a:visited {text-decoration:none; color:#222;}
a:hover, a:focus, a:active {text-decoration:underline; color:#222;}

table { border-collapse:collapse; border-spacing:0; }

input,select { font-family:'Nanum Gothic','³ª´®°íµñ','¸¼Àº °íµñ','Malgun Gothic','µ¸¿ò','dotum'; height:30px; background-color:#fff; border:solid 1px #c6c6c6; vertical-align:middle; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
textarea { font-family:'Nanum Gothic','³ª´®°íµñ','¸¼Àº °íµñ','Malgun Gothic','µ¸¿ò','dotum'; background-color:#fff; border:solid 1px #c6c6c6; vertical-align:middle; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.inputN { background:none; border:none; padding:0; margin:0; width:18px; height:18px;}



/* align */
.fl { float:left;}
.fr { float:right}
.tl { text-align:left;}
.tr { text-align:right;}
.tc { text-align:center;}
.tj { text-align:justify;}
.cl { clear:both;}
.cp { cursor:pointer;}
.vt { vertical-align:top;}
.vm { vertical-align:middle}
.vb { vertical-align:bottom}

/* size */
.fs0 { font-size:0px;}
.fs11 { font-size:11px;}
.fs12 { font-size:12px;}
.fs13 { font-size:13px;}
.fs14 { font-size:14px;}
.fs14b { font-size:14px; font-weight:bold;}
.fs15 { font-size:15px;}
.fs15b { font-size:15px; font-weight:bold;}
.fs16 { font-size:16px;}
.fs16b { font-size:16px; font-weight:bold;}
.fs17 { font-size:17px;}
.fs17b { font-size:17px; font-weight:bold;}
.fs18 { font-size:18px;}
.fs18b { font-size:18px; font-weight:bold;}
.fs19 { font-size:19px;}
.fs19b { font-size:19px; font-weight:bold;}
.fs24 { font-size:24px;}
.fs24b { font-size:24px; font-weight:bold;}

/* color */
.fc000 { color:#000;}
.fc000B { color:#000; font-weight:bold;}
.fc333 { color:#333;}
.fc333B { color:#333; font-weight:bold;}
.fc555 { color:#555;}
.fc555B { color:#555; font-weight:bold;}
.fc777 { color:#777;}
.fc777B { color:#777; font-weight:bold;}
.fc999 { color:#999;}
.fc999B { color:#999; font-weight:bold;}
.fcfff { color:#fff;}
.red { color: #e80000;}
.redB { color: #e80000; font-weight:bold;}
.orag { color: #ff6000;}
.oragB { color: #ff6000; font-weight:bold;}
.blue { color: #0043b1;}
.blueB { color: #0043b1; font-weight:bold;}
.sky { color: #0082b8;}
.skyB { color: #0082b8; font-weight:bold;}
.green { color: #007c1a;}
.greenB { color: #007c1a; font-weight:bold;}

/* font */
.ls1 {letter-spacing:-1px;}
.lsn {letter-spacing:normal;}
.fb { font-weight:bold;}
.fn { font-weight:normal;}
.fsi { font-style:italic}
.tuline { text-decoration:underline}

/* width */
.wid50 { width:50px;}
.wid100 { width:100px;}
.wid110 { width:110px;}
.wid120 { width:120px;}
.wid130 { width:130px;}
.wid150 { width:150px;}
.wid200 { width:200px;}
.wid220 { width:220px;}
.wid230 { width:230px;}
.wid250 { width:250px;}
.wid300 { width:300px;}
.wid320 { width:320px;}
.wid340 { width:340px;}
.wid350 { width:350px;}
.wid400 { width:400px;}
.wid450 { width:450px;}
.wid500 { width:500px;}
.wid550 { width:550px;}
.wid600 { width:600px;}
.wid650 { width:650px;}
.widp90 { width:90%;}
.widp95 { width:95%;}
.widp100 { width:100%;}

/* padding margin */
.pt1 {padding-top:1px;}
.pt2 {padding-top:2px;}
.pt3 {padding-top:3px;}
.pt4 {padding-top:4px;}
.pt5 {padding-top:5px;}
.pt7 {padding-top:7px;}
.pt8 {padding-top:8px;}
.pt10 {padding-top:10px;}
.pt15 {padding-top:15px;}
.pt20 {padding-top:20px;}
.pt25 {padding-top:25px;}
.pt30 {padding-top:30px;}
.pt35 {padding-top:35px;}
.pt40 {padding-top:40px;}
.pt50 {padding-top:50px;}
.pt60 {padding-top:50px;}
.pt70 {padding-top:70px;}
.pt80 {padding-top:80px;}

.pb1 {padding-bottom:1px;}
.pb2 {padding-bottom:2px;}
.pb3 {padding-bottom:3px;}
.pb4 {padding-bottom:4px;}
.pb5 {padding-bottom:5px;}
.pb10 {padding-bottom:10px;}
.pb15 {padding-bottom:15px;}
.pb20 {padding-bottom:20px;}
.pb25 {padding-bottom:25px;}
.pb30 {padding-bottom:30px;}

.pl1 {padding-left:1px;}
.pl2 {padding-left:2px;}
.pl3 {padding-left:3px;}
.pl4 {padding-left:4px;}
.pl5 {padding-left:5px;}
.pl10 {padding-left:10px;}
.pl15 {padding-left:15px;}
.pl20 {padding-left:20px;}
.pl25 {padding-left:25px;}
.pl30 {padding-left:30px;}
.pl35 {padding-left:35px;}
.pl40 {padding-left:30px;}

.pr1 {padding-right:1px;}
.pr2 {padding-right:2px;}
.pr3 {padding-right:3px;}
.pr4 {padding-right:4px;}
.pr5 {padding-right:5px;}
.pr10 {padding-right:10px;}
.pr15 {padding-right:15px;}
.pr20 {padding-right:20px;}
.pr25 {padding-right:25px;}
.pr30 {padding-right:30px;}
.pr40 {padding-right:30px;}

.mt0 {margin-top:0px;}
.mt1 {margin-top:1px;}
.mt2 {margin-top:2px;}
.mt3 {margin-top:3px;}
.mt4 {margin-top:4px;}
.mt5 {margin-top:5px;}
.mt7 {margin-top:7px;}
.mt10 {margin-top:10px;}
.mt13 {margin-top:13px;}
.mt15 {margin-top:15px;}
.mt17 {margin-top:17px;}
.mt20 {margin-top:20px;}
.mt22 {margin-top:22px;}
.mt25 {margin-top:25px;}
.mt27 {margin-top:27px;}
.mt30 {margin-top:30px;}
.mt35 {margin-top:35px;}
.mt40 {margin-top:40px;}
.mt45 {margin-top:45px;}
.mt50 {margin-top:50px;}
.mt60 {margin-top:60px;}
.mt70 {margin-top:70px;}
.mt80 {margin-top:80px;}

.mb1 {margin-bottom:1px;}
.mb2 {margin-bottom:2px;}
.mb3 {margin-bottom:3px;}
.mb4 {margin-bottom:4px;}
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb30 {margin-bottom:30px;}
.mb40 {margin-bottom:40px;}

.ml1 {margin-left:1px;}
.ml2 {margin-left:2px;}
.ml3 {margin-left:3px;}
.ml4 {margin-left:4px;}
.ml5 {margin-left:5px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml17 {margin-left:17px;}
.ml20 {margin-left:20px;}
.ml25 {margin-left:25px;}
.ml30 {margin-left:30px;}

.mr1 {margin-right:1px;}
.mr2 {margin-right:2px;}
.mr3 {margin-right:3px;}
.mr4 {margin-right:4px;}
.mr5 {margin-right:5px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.mr25 {margin-right:25px;}
.mr30 {margin-right:30px;}
